component-3-scoring/week-04-model-comparison/workflow.json
{
  "name": "Week 4 - Model Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -96
      ],
      "id": "4984c258-a7ae-422a-ba12-be71a6ea0926",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsT5Ry8iWcqA9YF",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appsT5Ry8iWcqA9YF"
        },
        "table": {
          "__rl": true,
          "value": "tblMvBXv4Qbp6u42y",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appsT5Ry8iWcqA9YF/tblMvBXv4Qbp6u42y"
        },
        "filterByFormula": "{input_text} != \"\"",
        "returnAll": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        -96
      ],
      "id": "a2f0e9c1-f721-40ac-934c-d9f95a260268",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "P7iN5ZzzWha7vLTK",
          "name": "Airtable Personal Access Token account 30"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $json.fields.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -288
      ],
      "id": "eed5bea8-aa6b-4984-8b19-92aba5354030",
      "name": "HF Sentiment",
      "retryOnFail": false,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dNLrlKf1tFhl62ag",
          "name": "HuggingFace API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{$json.input_text}}\",\n  \"parameters\": {\n    \"candidate_labels\": [\n      \"critical threat\",\n      \"routine activity\",\n      \"possible anomaly\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -96
      ],
      "id": "e7c2d07c-fc79-407e-8f79-6768c0382d20",
      "name": "HF Zero-Shot",
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dNLrlKf1tFhl62ag",
          "name": "HuggingFace API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        -96
      ],
      "id": "42871fcd-b868-4c94-9fdb-e1784fe2908e",
      "name": "Loop Over Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dslim/bert-large-NER",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $('Search records').item.json.input_text }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        96
      ],
      "id": "2e0337a4-6936-491a-a929-08cefcccfa64",
      "name": "HF NER",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dNLrlKf1tFhl62ag",
          "name": "HuggingFace API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a security analyst. Classify the following alert as one of: CRITICAL, HIGH, MEDIUM, LOW, or INFORMATIONAL. Reply with the severity level and one sentence of reasoning.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $('Search records').item.json.input_text }}\"\n    }\n  ],\n  \"max_tokens\": 100\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        272
      ],
      "id": "809003b6-a2bc-43d0-a3d7-77596d05f8b5",
      "name": "Groq LLM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "T8UmC4BqUEpEHsps",
          "name": "Groq API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        -80
      ],
      "id": "4e532511-960e-4f16-8b45-1c85b8ceed33",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appsT5Ry8iWcqA9YF",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appsT5Ry8iWcqA9YF"
        },
        "table": {
          "__rl": true,
          "value": "tblMvBXv4Qbp6u42y",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appsT5Ry8iWcqA9YF/tblMvBXv4Qbp6u42y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "model_1_sentiment_score": "={{ $json.sentiment_score }}",
            "model_2_zeroshot_score": "={{ $json.zeroshot_score }}",
            "model_1_sentiment_label": "={{ $json.sentiment_label }}",
            "model_2_zeroshot_label": "={{ $json.zeroshot_label }}",
            "model_3_ner_entities": "={{ $json.ner_entities }}",
            "model_4_groq_classification": "={{ $json.groq_classification }}",
            "tested_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_label",
              "displayName": "model_1_sentiment_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_score",
              "displayName": "model_1_sentiment_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_label",
              "displayName": "model_2_zeroshot_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_score",
              "displayName": "model_2_zeroshot_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_3_ner_entities",
              "displayName": "model_3_ner_entities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_4_groq_classification",
              "displayName": "model_4_groq_classification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1536,
        -80
      ],
      "id": "69c8e42d-6251-426f-b842-67355f94af45",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "P7iN5ZzzWha7vLTK",
          "name": "Airtable Personal Access Token account 30"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acb40d5c-25c9-4a92-8d1d-749cbebd40cd",
              "name": "sentiment_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "13185ddb-9b88-42ac-a904-0f8b3e58a1f2",
              "name": "sentiment_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "bfd6abd0-cb99-4513-9155-f6dbbd4935a3",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "68e4c61d-b2b5-4ce4-823d-4ce738874296",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -288
      ],
      "id": "22354ca2-33c5-4bc7-a27b-e8bca21e4870",
      "name": "Extract Sentiment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c960ab9a-5583-48ec-85a4-6a02510b513f",
              "name": "zeroshot_label",
              "value": "={{ $json.label }}",
              "type": "string"
            },
            {
              "id": "86552452-4816-4860-b753-9fe742d5299a",
              "name": "zeroshot_score",
              "value": "={{ $json.score }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -96
      ],
      "id": "9354f012-bda9-42b7-991e-e4cb815578e7",
      "name": "Extract Zero-Shot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c493b0e0-c446-44af-9b34-33d97e4bf2b1",
              "name": "ner_entities",
              "value": "={{ $json.word }}",
              "type": "string"
            },
            {
              "id": "e474a045-55b3-4443-9616-9082ab87dc15",
              "name": "=input_text",
              "value": "={{ $('Search records').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "b6188e52-eace-4549-9d99-beaa28c5ccb2",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        96
      ],
      "id": "9e94b33c-3b60-4601-983d-ec313ea57ebe",
      "name": "Extract NER"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3152fd89-c994-490a-a41b-28939322ed22",
              "name": "groq_classification",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        272
      ],
      "id": "14b357e5-b31e-4777-8205-ab0dd72d5a48",
      "name": "Extract Groq"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Sentiment": {
      "main": [
        [
          {
            "node": "Extract Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Zero-Shot": {
      "main": [
        [
          {
            "node": "Extract Zero-Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Batches": {
      "main": [
        [],
        [
          {
            "node": "HF Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF Zero-Shot",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF NER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq LLM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF NER": {
      "main": [
        [
          {
            "node": "Extract NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "main": [
        [
          {
            "node": "Extract Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sentiment": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Zero-Shot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract NER": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract Groq": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e433b3ab-5111-4a75-abb8-25ab7aeee4e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "Ih3UuDiR0T9VHtsG",
  "tags": []
}
