component-3-scoring/week-05-automl-training/workflow.json
{
  "name": "Week 5 - Generic vs. Fine - Tuned Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        64
      ],
      "id": "76a4e8a3-3a48-4b80-b0dc-f0ea2e074573",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsMtHZpCYUVCgFN",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appsMtHZpCYUVCgFN"
        },
        "table": {
          "__rl": true,
          "value": "tblGjsBRLXL0TDfjF",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appsMtHZpCYUVCgFN/tblGjsBRLXL0TDfjF"
        },
        "filterByFormula": "{input_text} != \"\"",
        "returnAll": false,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        64
      ],
      "id": "f84ceb3a-1712-426c-812e-05ee92127ba0",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "P7iN5ZzzWha7vLTK",
          "name": "Airtable Personal Access Token account 30"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        64
      ],
      "id": "ddb7fe98-3801-4732-acac-74e8e3157452",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -128
      ],
      "id": "37503fdf-06df-4359-bd6a-db48e46e7980",
      "name": "HTTP Request (Generic Statement)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dNLrlKf1tFhl62ag",
          "name": "HuggingFace API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99660f4a-49ca-44ed-b0ae-8c69df97bcdf",
              "name": "generic_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "e4a42452-925d-4cf9-8136-16385fc80280",
              "name": "generic_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "205c98c8-8a2e-4c25-81c7-d22e1e687ad8",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "cfd2457a-fb4c-40b1-a1ad-a760838f1fbd",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -128
      ],
      "id": "a2483e36-f51e-4293-a1ca-90b363d1c6da",
      "name": "Extract Generic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://router.huggingface.co/hf-inference/models/valhalla/distilbart-mnli-12-3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{$json.input_text}}\",\n  \"parameters\": {\n    \"candidate_labels\": [\n\"highly relevant\",\n  \"moderately relevant\",\n  \"not relevant\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        64
      ],
      "id": "868f8572-77ec-4072-be45-58933a6bd550",
      "name": "HTTP Request (Fine-Tuned A)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dNLrlKf1tFhl62ag",
          "name": "HuggingFace API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55f8add0-b9d9-487b-99b6-ee0514c467da",
              "name": "finetuned_a_label",
              "value": "={{ $json.label }}",
              "type": "string"
            },
            {
              "id": "e1119c01-f7fa-4c47-9841-2b329a2784e9",
              "name": "finetuned_a_score",
              "value": "={{ $json.score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        64
      ],
      "id": "deb13a5f-4bbd-4b28-a15a-8ad118029e2c",
      "name": "Extract Fine-Tuned A"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://router.huggingface.co/hf-inference/models/dbmdz/bert-large-cased-finetuned-conll03-english ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{$json.input_text}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        256
      ],
      "id": "43a0bbd1-76e5-436c-95b4-aa9ff17340da",
      "name": "HTTP Request (Fine-Tuned B)",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dNLrlKf1tFhl62ag",
          "name": "HuggingFace API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55f8add0-b9d9-487b-99b6-ee0514c467da",
              "name": "finetuned_b_label",
              "value": "={{ $json.word }}",
              "type": "string"
            },
            {
              "id": "e1119c01-f7fa-4c47-9841-2b329a2784e9",
              "name": "finetuned_b_score",
              "value": "={{ $json.score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        256
      ],
      "id": "a4a6321f-014f-43ba-975c-ab09856bfd9f",
      "name": "Extract Fine-Tuned B"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -32
      ],
      "id": "6e065985-cc50-473b-ad0a-fc7a929e5829",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appsMtHZpCYUVCgFN",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appsMtHZpCYUVCgFN"
        },
        "table": {
          "__rl": true,
          "value": "tblGjsBRLXL0TDfjF",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appsMtHZpCYUVCgFN/tblGjsBRLXL0TDfjF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "generic_label": "={{ $json.generic_label }}",
            "generic_score": "={{ $json.generic_score }}",
            "finetuned_a_label": "={{ $json.finetuned_a_label }}",
            "finetuned_b_label": "={{ $json.finetuned_b_label }}",
            "finetuned_a_score": "={{ $json.finetuned_a_score }}",
            "finetuned_b_score": "={{ $json.finetuned_b_score }}",
            "tested_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_label",
              "displayName": "generic_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_score",
              "displayName": "generic_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_label",
              "displayName": "finetuned_a_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_score",
              "displayName": "finetuned_a_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_label",
              "displayName": "finetuned_b_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_score",
              "displayName": "finetuned_b_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner",
              "displayName": "winner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1328,
        -32
      ],
      "id": "f687eabe-e139-4227-b8b6-bf4db1ec0dc1",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "P7iN5ZzzWha7vLTK",
          "name": "Airtable Personal Access Token account 30"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (Fine-Tuned A)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (Generic Statement)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (Fine-Tuned B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Generic Statement)": {
      "main": [
        [
          {
            "node": "Extract Generic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Fine-Tuned A)": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Fine-Tuned B)": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Generic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e30ca2ac-984d-44c9-be51-715932a2a3de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "tk0lXAG0NYHSCUr1",
  "tags": []
}